---
---

@import "{{ site.theme }}";

header p {
  margin: 0 20px 0 0;
  padding-left: 20px;
  border-radius: 4px;
  color: rgb(245, 245, 245);
  background-color: rgb(45, 80, 123);
}

#banner .button {
  display: none;
}

h2 {
  margin-top: 25px;
}

h3, h4 {
  color: #565656;
  margin-top: 15px;
}

a:focus {
  outline: 3px dotted;
  outline-offset: 1.5px;
}

section ul {
  list-style-image: unset;
  margin-bottom: 5px;
}

section ul li::marker {
  color: #2d507b;
}

section a {
  color: #4243b6;
}

section a:hover, section a:active {
  text-decoration: underline;
}

nav {
  top: 191px;
  left: 47%;
  text-align: right;
  height: 656px;
  max-height: 68.75%;
  overflow-y: scroll;
}

nav ul {
  padding-right: 15px;
}

nav li.tag-h2 {
  font-size: 14.25px;
}

nav li.tag-h3 {
  font-size: 11.75px;
  font-style: italic;
}

nav ul a {
  color: #080808;
}

nav ul a:hover {
  color: #fff7f7;
  background-color: #313335;
  border-radius: 3px;
  padding: 2px;
}

.wrapper {
  width: auto;
  max-width: 750px;
}

section {
  width: auto;
}

footer {
  display: none;
}

@media screen and (max-width: 480px) {
  section {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1060px) {
  div.wrapper {
    width: auto;
    margin: 0 auto;
  }

  section {
    max-width: unset;
    padding: 25px;
  }
}
@media screen and (min-width: 950px) and (max-width: 1170px) {
    #banner {
        width: 100%;
    }
    #banner #logo {
        margin-right: 15px;
    }
    nav {
        left: 54%;
        display: unset;
    }
    div.wrapper {
        margin-right: 5%;
    }
}
@media screen and (min-width: 950px) and (max-width: 1020px) {
    nav {
        left: 59%;
    }
    div.wrapper {
        margin-right: 3%;
    }
    section {
        margin-left: 50px;
        margin-right: -10px;
    }
}
